<section class="verse" aria-label="Scripture">
  <div class="verse__media">{{ m.picture(verse.image, sizes="100vw", cls="verse__img") }}</div>
  <figure class="container verse__body reveal">
    <blockquote><p>“{{ verse.text }}”</p></blockquote>
    <figcaption><cite>{{ verse.ref }}</cite></figcaption>
  </figure>
</section>
